# 数据库配置
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=shmec

# 客户端路径优化
# 如果系统环境变量中已有 mysql，保持现状即可。若提示找不到命令，请填写 mysql.exe 的绝对路径
MYSQL_PATH=C:\Program Files\MySQL\MySQL Server 8.1\bin\mysql.exe